## --- DNS Service ---
# CONFIG_PACKAGE_chinadns-ng=y

# CONFIG_PACKAGE_smartdns=y
# CONFIG_PACKAGE_luci-app-smartdns=y
# CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y


## --- USB Tethering ---
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y

# USB Tethering for iPhone
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_usbmuxd=y

# USB Tethering for Android
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-cdc-eem=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-subset=y

# For Proxys
CONFIG_PACKAGE_kmod-nft-tproxy=y
