## --- DNS Service ---
# CONFIG_PACKAGE_chinadns-ng=y

# CONFIG_PACKAGE_smartdns=y
# CONFIG_PACKAGE_luci-app-smartdns=y
# CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y


## --- USB Tethering ---
# CONFIG_PACKAGE_kmod-usb-net=m
# CONFIG_PACKAGE_kmod-usb-net-rndis=m

# USB Tethering for iPhone
# CONFIG_PACKAGE_kmod-usb-net-ipheth=m
# CONFIG_PACKAGE_usbmuxd=m

# USB Tethering for Android
# CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=m
# CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=m
# CONFIG_PACKAGE_kmod-usb-net-cdc-eem=y
# CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
# CONFIG_PACKAGE_kmod-usb-net-cdc-subset=y

# For Proxys
CONFIG_PACKAGE_kmod-nft-tproxy=y
